use flake

export NIX_REMOTE=""
export GOOGLE_OAUTH_CLIENT_ID="196965176198-oca6ud4spfujn37vettjdu6t15p61lmh.apps.googleusercontent.com"
export GOOGLE_CLIENT_SECRET="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"
export GITHUB_OAUTH_CLIENT_ID="Ov23liWWDQOXrO8wTT1e"
export GITHUB_OAUTH_CLIENT_SECRET="aa7c594626d7b60951f317a5dc4d18c6e5bf7205"
